<ion-content class="main-container register">
  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row class="row-title">
            <ion-col size="12">
              <div class="flex-cv title">
                <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
                <h1>{{!editar? 'Registro' : 'Actualización'}} de Póliza</h1>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <mat-form-field >
                <mat-label>Empleado</mat-label>
                <mat-select formControlName="empleado">
                  <mat-option *ngFor="let item of empleados" [value]="item.id">{{
                    item.nombre
                  }}</mat-option>
                </mat-select>
                <mat-error *ngFor="let validation of validationMessages.empleado">
                  <div *ngIf="Form.get('empleado').hasError(validation.type) &&
                (Form.get('empleado').dirty ||
                Form.get('empleado').touched)">
                    {{validation.message }}
                  </div>
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <mat-form-field class="search">
                <mat-label>SKU</mat-label>
                <input matInput formControlName="sku" placeholder="SKU" maxlength="5"/>
                <mat-error *ngFor="let validation of validationMessages.sku">
                  <div *ngIf="Form.get('sku').hasError(validation.type) &&
                (Form.get('sku').dirty ||
                Form.get('sku').touched)">
                    {{validation.message }}
                  </div>
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <mat-form-field class="search">
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="cantidad" placeholder="Cantidad" />
                <mat-error *ngFor="let validation of validationMessages.cantidad">
                  <div *ngIf="Form.get('cantidad').hasError(validation.type) &&
                (Form.get('cantidad').dirty ||
                Form.get('cantidad').touched)">
                    {{validation.message }}
                  </div>
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="row-submit">
            <ion-col size="12">
              <ion-button block color="primary" type="submit" [disabled]="Form.invalid">
                {{ editar ? "Actualizar" : "Registrar" }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
