<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="poliza">
      <ion-icon name="document-text"></ion-icon>
      Polizas
    </ion-tab-button>
    <ion-tab-button tab="Inventario">
      <ion-icon name="clipboard"></ion-icon>
      Inventario
    </ion-tab-button>
    <ion-tab-button tab="empleado">
      <ion-icon name="person"></ion-icon>
      Empleado
    </ion-tab-button>
    <ion-tab-button tab="puesto">
      <ion-icon name="business"></ion-icon>
      Puesto
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
