<ion-header>
  <ion-toolbar>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="main-container">
  <div class="content">
    <div class="div-search flex-cv">
      <div class="search-dv">
        <mat-form-field class="search" (keyup.enter)="searchItems()">
          <mat-label>Buscador</mat-label>
          <input matInput placeholder="Buscar por nombre" [(ngModel)]="busqueda">

          <button *ngIf="busqueda" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchBox()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <ion-button (click)="searchItems()" shape="round">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </div>
      <!-- <form class="example-form"> -->

      <ion-button (click)="crear()" shape="round">
        Crear puesto
      </ion-button>

    </div>
    <div class="tabla">
      <div style="flex-grow: 1;overflow: auto;">
        <table
          mat-table
          [dataSource]="listFlt"
          class="mat-elevation-z8 demo-table"
        >

          <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td
              mat-cell
              *matCellDef="let element"
              style="text-align: end; margin-right: 1%"
            >
              <div class="dv-acciones">
                <div matTooltip="Eliminar" (click)="eliminar(element)"
                >
                  <ion-icon
                    class="ojoIcono"
                    name="trash-outline"
                    style="margin-left: 0px; font-size: 30px"
                  ></ion-icon>
                </div>
                <div (click)="irDetalle(element)" matTooltip="ir detalle"
                >
                  <ion-icon
                    class="ojoIcono"
                    name="pencil-outline"
                    style="margin-left: 0px; font-size: 30px"
                  ></ion-icon>
                </div>
              </div>
              <!-- <div class="dv-acciones">
                <div (click)="irDetalle(element)" matTooltip="ir detalle"
                >
                  <ion-icon
                    class="ojoIcono"
                    name="pencil-outline"
                    style="margin-left: 0px; font-size: 30px"
                  ></ion-icon>
                </div>
              </div> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
      <div class="dvPaginados">
        <ion-icon name="play-back" (click)="irAInicio()"></ion-icon>
        <ion-icon name="caret-back" (click)="avanzar(true)"></ion-icon>
        <div>
          <input type="text" [(ngModel)]="pagina" (keyup.enter)="irAPagina()" (keypress)="onlyNumbers($event)">
          de
          {{totalPaginas}}
        </div>
        <ion-icon name="caret-forward" (click)="avanzar(false)"></ion-icon>
        <ion-icon name="play-forward" (click)="irAFin()"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>
