/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '../node_modules/font-awesome/css/font-awesome.css';

@font-face {
  font-family: "TrebuchetMS";
  font-style: normal;
  font-weight: normal;
  src: local("TrebuchetMS"), url(./assets/fonts/TrebuchetMS/trebuc.ttf) format("truetype");
}


.flex{
  display: flex;
}

.flex-c{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-cv{
  display: flex;
  align-items: center;
}

.flex-ch{
  display: flex;
  justify-content: center;
}

.validation-error{
  font-size: 13px;
  margin: 5px 0 0px 5px;
  color: red;
}

.main-container{
  height: 100vh;
  // width: 100%;
  position: relative;

  .content{
    padding: 32px;
  }
}

.tabla {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 75vh;

  table {
    width: 98%;
    margin: 1%;
    flex-grow: 1;
    overflow: auto;

    tr{
      text-align: center;
    }

    th {
      text-align: center;
      background: rgba(87, 42, 49, 1);
      color: white;
      border: 1px solid rgba(195, 195, 195, 1);
      position: sticky;
      top: 0;
      z-index: 10;
    }

    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      padding: 0;
      border: 1px solid rgba(195, 195, 195, 1);
      // border: solid;
    }

    .ojoIcono {
      color: rgba(99, 101, 105, 1);
    }

    .dv-acciones{
      display: flex;
      justify-content: space-around;
      align-items: center;

      div{
        cursor: pointer;
      }
      ion-icon{
        pointer-events: none;
      }
    }

  }

  .dvPaginados{

    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2%;
    padding-bottom: 5px;

    input, ion-input{
      background: white;
      --background: white;
      width: 50px;
      --width: 50px;
      text-align: right;
    }

    div{
      margin: 0 6px;
    }

    ion-icon{
      font-size: 20px !important;
      margin: 0px !important;
      color: #9c192f;
      cursor: pointer;
    }

    ion-icon:first-child{
      margin-right: 5px !important;
    }
    ion-icon:last-child{
      margin-left: 5px !important;
    }
  }

}

.width-50p{
  width: 50%;
}

@media screen and (max-height: 700px) {
  .tabla {
    max-height: 65vh;
  }
}
