.main-container{
  height: 100vh;
  // width: 100%;
  position: relative;
}

.div-search{
  padding: 0 16px;
  justify-content: space-between;
  .search-dv{
    flex-grow: 1;
    .search{
      width: 45%;
      margin-right: 20px;
    }
  }
}

.mat-column-sku, .mat-column-cantiadad{
  width: 10%;
}
// .mat-column-nombre{
//   width: 35%;
// }
.mat-column-acciones{
  width: 10%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 0px !important;
  }
  .mat-row {
    height: auto;
  }

  .mat-cell {
    padding: 8px 8px 8px 0;
  }
}
